<style>
    html {
        box-sizing: border-box;
        font-size: 62.5%; }
        @media only screen and (max-width: 62.5em) {
          html {
            font-size: 50%; } }
        @media only screen and (max-width: 25em) {
          html {
            font-size: 31.25%; } }
        @media only screen and (max-width: 13.75em) {
          html {
            font-size: 25%; } }
    /* Alerts test code */
  .message_container {
    width: 52rem; 
    margin: 2rem auto;
    text-align: center;
  }

  .icon-remove {
    font-size: 2.5rem;
  }
  .alert .inner {
      font-size: 2rem;
    display: block;
    padding: 6px;
    margin: 6px;
    border-radius: 3px;
    border: 1px solid rgb(180,180,180);
    background-color: rgb(212,212,212);
  }
  
  .alert .close {
    float: right;
    margin: 3px 12px 0px 0px;
    cursor: pointer;
  }
  
  .alert .inner,.alert .close {
    color: rgb(88,88,88);
  }
  
  .alert input {
    display: none;
  }
  
  .alert input:checked ~ * {
    animation-name: dismiss,hide;
    animation-duration: 300ms;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-delay: 0s,100ms;
  }
  
  .alert.error .inner {
    border: 1px solid rgb(238,211,215);
    background-color: rgb(242,222,222);
  }
  
  .alert.error .inner,.alert.error .close {
    color: rgb(185,74,72);
  }
  
  .alert.success .inner {
    border: 1px solid rgb(214,233,198);
    background-color: rgb(223,240,216);
  }
  
  .alert.success .inner,.alert.success .close {
    color: rgb(70,136,71);
  }
  
  .alert.info .inner {
    border: 1px solid rgb(188,232,241);
    background-color: rgb(217,237,247);
  }
  
  .alert.info .inner,.alert.info .close {
    color: rgb(58,135,173);
  }
  
  .alert.warning .inner {
    border: 1px solid rgb(251,238,213);
    background-color: rgb(252,248,227);
  }
  
  .alert.warning .inner,.alert.warning .close {
    color: rgb(192,152,83);
  }
  
  @keyframes dismiss {
    0% {
      opacity: 1;
    }
    90%, 100% {
      opacity: 0;
      font-size: 0.1px;
      transform: scale(0);
    }
  }
  
  @keyframes hide {
    100% {
      height: 0px;
      width: 0px;
      overflow: hidden;
      margin: 0px;
      padding: 0px;
      border: 0px;
    }
}

  @media only screen and (max-width: 37.5em) {
    .message_container {
        width: 32rem;
    }
}

  @media only screen and (max-width: 25em) {
      .message_container {
          width: 45rem;
      }
    }
  @media only screen and (max-width: 13.75em) {
          .message_container {
              width: 52rem;
  }
}
  
</style>
{% if messages %}
    {% for message in messages %}
        <div id="message" class="message_container">
            <div class="alert {{ message.tags }}">
                <input type="checkbox" id="alert1"/>
                <label class="close" title="close" for="alert1">
                    <span class="icon-remove">&times;</span>
                </label>
                <p class="inner text-center">
                    <strong>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                            Error: 
                        {% else %}
                            {{ message.tags | title }}
                        {% endif %}
                    </strong> 
                    {{ message }}
                </p>
            </div>
        </div>
    {% endfor %}
{% endif %}