{% extends 'base.html' %}

{% block title %} | User Dashboard {% endblock %}

{% block content %}
<!--Showcase Start-->
<div class="showcase">
    <h1 class="heading-1">User Dashboard</h1>
    <h2 class="heading-3 heading-3--light showcase__heading">
      Manage your Nexter account
    </h2>
  </div>
  <!-- Showcase End-->

  <!-- Breadcrumb start -->
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="{% url 'index' %}" class="breadcrumb__link">Home</a>
      </li>
      <li class="breadcrumb__item">Dashboard</li>
    </ul>
  </div>
  <!--Breadcrumb end-->

  <section class="mt-osection mb-home dashboard">
    
  {% include 'partials/_alerts.html' %}
    
  <div class="dashboard__title">
      <h2 class="heading-2">Welcome {{ user.first_name }}</h2>
      <p class="dashboard__text">
        Here are the property listings that you have inquired about.
      </p>
    </div>
    {% if contacts %}
      <div class="dashboard__content">
        <table class="table">
          <thead class="table__head">
            <tr class="table__row">
              <th>#</th>
              <th>Property</th>
              <th>&nbsp;</th>
            </tr>
          </thead>
          <tbody class="table__body">
            {% for contact in contacts %}
            <tr class="table__row">
              <td>{{ contact.id }}</td>
              <td>{{ contact.listing }}</td>
              <td><a class="btn__table" href="{% url 'listing' contact.listing_id %}">View Listing</a></td>
            </tr>
            {% endfor %}
            <!-- <tr class="table__row">
              <td>44</td>
              <td>Cozy Country House</td>
              <td><button class="btn__table">View Listing</button></td>
            </tr>
            <tr class="table__row">
              <td>12</td>
              <td>Modern Glass Villa</td>
              <td><button class="btn__table">View Listing</button></td>
            </tr> -->
          </tbody>
        </table>
      </div>
    {% else%}
    <p class="text-center">You have not made any inquiries</p>
    {% endif %}
  </section>
{% endblock content %}