{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} | Browse Property Listings {% endblock %}

{% block content %}
<!--Showcase Start-->
<div class="showcase">
    <h1 class="heading-1">Browse our properties</h1>
    <h2 class="heading-3 heading-3--light showcase__heading">
      Select amongst the best homes
    </h2>
  </div>
  <!-- Showcase End-->

  <!-- Breadcrumb start -->
  <div class="breadcrumb">
    <ul class="breadcrumb__list">
      <li class="breadcrumb__item">
        <a href="{% url 'index' %}" class="breadcrumb__link">Home</a>
      </li>
      <li class="breadcrumb__item">listings</li>
    </ul>
  </div>
  <!--Breadcrumb end-->

  <!-- Listings Homes section start -->
  <section class="homes mt-osection mb-osection">

    <!-- Listing 1-->
    {% if listings %}
      {% for listing in listings %}
      <div class="home">
        <img src="{{ listing.photo_main.url }}" alt="House 1" class="home__img" />
        <svg class="home__like hidden__main">
          <use xlink:href="{% static 'img/sprite.svg' %}#icon-heart-outlined"></use>
        </svg>
        <h5 class="home__name">{{ listing.title }}</h5>
  
        <div class="home__location">
          <svg class="home__like">
            <use xlink:href="{% static 'img/sprite.svg' %}#icon-map-pin"></use>
          </svg>
          <p>{{listing.country}}</p>
        </div>
  
        <div class="home__rooms">
          <svg class="home__like">
            <use xlink:href="{% static 'img/sprite.svg' %}#icon-profile-male"></use>
          </svg>
          <p>{{ listing.rooms }} rooms</p>
        </div>
  
        <div class="home__area">
          <svg class="home__like">
            <use xlink:href="{% static 'img/sprite.svg' %}#icon-expand"></use>
          </svg>
          <p>{{ listing.sqft }} m<sup>2</sup></p>
        </div>
  
        <div class="home__price">
          <svg class="home__like">
            <use xlink:href="{% static 'img/sprite.svg' %}#icon-key"></use>
          </svg>
          <p>${{ listing.price | intcomma}}</p>
        </div>
        <a href="{% url 'listing' listing.id %}" class="btn home__btn">More Information</a>
        <!-- <button class="btn home__btn">More Information</button> -->
      </div>
      {% endfor %}
    {% else %}
      <div class="nolisting">
        <p class="nolisting__text" style="font-size: 1.8rem">No Listing yet</p>
      </div>
    {% endif %}    
  </section>

  <!-- Pagination -->
  <div class="pagination__container mb-osection">
    {% if listings.has_other_pages %}
    <ul class="pagination">
      {% if listings.has_previous %}
        <li class="pagination__item">
          <a href="?page={{listings.previous_page_number}}" class="pagination__link">&laquo;</a>
        </li>
      {% else %}
        <li class="pagination__item disabled">
          <a href="#" class="pagination__link">&laquo;</a>
        </li>      
      {% endif %}
      {% for i in listings.paginator.page_range %}
        {% if listings.number == i%}
          <li class="pagination__item disabled ">
            <a href="#" class="pagination__link pagination__active">{{i}}</a>
          </li>
        {% else %}
          <li class="pagination__item">
            <a href="?page={{ i }}" class="pagination__link">{{ i }}</a>
          </li>
        {% endif %}
      {% endfor %}
      
      {% if listings.has_next %}
          <li class="pagination__item">
            <a href="?page={{listings.next_page_number}}" class="pagination__link">&raquo;</a>
          </li>
      {% else %}
          <li class="pagination__item disabled"><a href="#" class="pagination__link">&raquo;</a></li>
      {% endif %}
    </ul>
    {% endif %}
    </div>
  </div>
  <!-- <li class="pagination__item disabled">
    <a href="#" class="pagination__link">&laquo;</a>
  </li>
  <li class="pagination__item disabled">
    <a href="#" class="pagination__link pagination__active">1</a>
  </li>
   -->
{% endblock %}